{% extends 'small_banner.html' %}
{% load static %}
{% block subcontent %}
<!-- Top Background Image Wrapper -->

</div>
<!-- End Top Background Image Wrapper -->
<div class="wrapper row3">
  <main class="hoc container clear btmpad-none">
    <!-- Recipes section-->

    <div class="sectiontitle center">
      <h2>Latest Recipes</h2>
      <p> </p>
    </div>
    <ul class="nospace group center btmspace-80">
      {% for recipe in latest_recipes%}
      <a href="/recipes/{{recipe.id}}"><li class="one_quarter recipe_card">
        <article>
          <h3 class="heading">{{recipe.title}}</h3>
          <p>{% for category in recipe.categories.all %}
          <span class="category">{{category.name}}</span>
          {%endfor%}</p>
          <p class="btmspace-30 subtext">{{recipe.date_published|date:"SHORT_DATE_FORMAT"}}</p>
          <footer class="btn">Read More &raquo;</footer>
        </article>
      </li></a>
      {% endfor %}
    </ul>
    <!-- <figure><img src="images/demo/978x380.png" alt=""></figure> -->

    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

    <div class="clear"></div>
  </section>
</div>
{% endblock %}
