{% extends 'small_banner.html' %}
{% load static %}
{% block subcontent %}
<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->

    <div class="content">

      </div>
      <div id="inventory_wrapper">

        <div class="inventory_block" id="new_ingredients">
        <form method="get">
          <input type="text" class="search" name="search" value="{{search}}" id="search" placeholder="Use keywords">
          <input type="submit" class="btn" value="Search"><br>
        </form>

        <ul class="list-group">
          {% for ingredient in ingredients %}
          <a href="/inventory/add/{{ingredient.id}}"<li class="list-group-item">{{ingredient.name}} <span class="badge badge-primary badge-pill large_symbol">+</span></li></a>
          {% endfor %}
        </ul>
        <nav>
          <ul class="pagination">
        {% for value in num_pages %}
          {% if value == current_page %}
          <li class="active"><a href="/inventory?page={{value}}&search={{search}}">{{value}}</a></li>
          {% else %}
          <li><a href="/inventory?page={{value}}&search={{search}}">{{value}}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </nav>
      </div>

        <ul class="inventory_block" class="list-group">
          {% for ingredient in inventory.ingredients.all %}
          <a href="/inventory/delete/{{ingredient.id}}"><li class="list-group-item">{{ingredient.name}} <span class="badge badge-primary badge-pill large_symbol">x</span></li></a>
          {% endfor %}
        </ul>

      </div>
      <div class="one_half">
        <a href="/recipes/recommendations"><button class="btn">Get Recipes</a>
      </div>
    <div class="clear"></div>
  </main>
</div>

{% endblock %}
