{% extends 'small_banner.html' %}
{% load static %}
{% block subcontent %}

<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="container">
        <h1 class="big_title">{{recipe.title}}<h1>
        <p>
          <br>
        </p>

        <div>
          {%for category in recipe.categories.all %}
          <span class="category">{{category.name}}</span>
          {%endfor%}
          </div>

        <h2>Ingredients</h2>

       <ul class="list-group">
         {% for ingredient in recipe.detailedingredient_set.all %}
            <li onclick="getSubstitutes('{{ingredient.ingredient.name}}')" id="#{{ingredient.ingredient.name}}" class="list-group-item">{{ingredient.name}}</li>
        {%endfor%}
        </ul>

      <h2>How to cook</h2>
      <ol class="list-group">
        {% for direction in recipe.direction_set.all|dictsort:"order" %}
            <li class="list-group-item"><b>{{direction.order}}. </b>{{direction.content}}</li>
        {%endfor%}
        </ol>

    <div class="clear"></div>
  </main>
</div>

<script>

  /*function buildModal(data, name){
    let modal = `<div class="modal fade" id="${name}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">You can substitute ${name} with</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ul class="list-group">
              `;

      let modal_end = `
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>`

    ingredient_names = Object.keys(data)
    for (ingredient in ingredient_names)
    {
      modal += `<li class="list-group-item">${ingredient} - ${data[ingredient]}</li>`
    }

    modal += modal_end;

    $('.container').append(modal);
    return modal;
  } */

  function getSubstitutes(name){


const request = {
           url: `/ingredients/${name}/substitutes`,
           method: 'get',
       };
       $.ajax(request)
           .done(data => console.log(JSON.parse(data)))
           .fail();
       return true;
     }
     getSubstitutes(10);
</script>

{% endblock %}
